* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

body {
  font-family: sans-serif;
}

.link, a {
  text-decoration: none;
}

a, strong {
  vertical-align: initial;
  vertical-align: auto;
}
